
.video-wrap{
	position:relative;
	display:inline-block;
	&:not(.loaded):after{
		content:'';
		background:rgba($brandColor , .9);
		position:absolute;
		left:0; top:0; right:0; bottom:0;
		z-index:1;
	}

	.throbber-loader{
		position:absolute;
		top:50%;
		left:48%;
		@include transform(translate(-50%, -50%));
		z-index:2;
	}
}


.intro{
	border:solid 1rem rgba($white, .25);

}