@mixin custom-scrollbar(){

  &::-webkit-scrollbar-track{background:$white;}
  &::-webkit-scrollbar{width: 0.7rem; height:0.7rem; background-color: $base;}
  &::-webkit-scrollbar-thumb{border-radius: 0.3rem;background-color: $borderColor; border: 0.15rem solid transparent; background-clip: content-box;}
  
}

@mixin edge-padder($padding:0){
	padding:$padding;
	max-width:1000px;
	margin:0 auto;
}


@mixin mediaQSM {
	@media only screen and (min-width: $breackpointSM)  {
		@content;
	}
}
